<select id='account-create-select'>
    <option data-account-role-id='1'>Admin</option>
    <option data-account-role-id='2'>Professor</option>
    <option data-account-role-id='3'>Student</option>
</select>