<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tabula</title>
    <link rel="icon" href="../public/images/logo.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="../public/js/plugins/particles.js"></script>
    <script src='../public/js/plugins/jquery-3.3.1.js'></script>
    <script src='../public/js/main.js'></script>
</head>
<body>