<nav class='menu'>
    <div class='logo-container'>
        <img src='../public/images/logo.png' alt='Logo'>
    </div>
    {{#if account}}
        <div data-elem='account' class='menu-elem active'>
            Account
        </div>
    {{else}}
        <div data-elem='account' class='menu-elem'>
            Account
        </div>
    {{/if}}
    {{#if dashboard}}
        <div data-elem='dashboard' class='menu-elem active'>
            Dashboard
        </div>
    {{else}}
        <div data-elem='dashboard' class='menu-elem'>
            Dashboard
        </div>
    {{/if}}
    {{#if courses}}
        <div data-elem='courses' class='menu-elem active'>
            Courses
        </div>
    {{else}}
        <div data-elem='courses' class='menu-elem'>
            Courses
        </div>
    {{/if}}
    <div data-elem='inbox' class='menu-elem'>
        Inbox
    </div>
    {{#ifCond role '==' 1}}
        {{#if manageAccounts}}
                <div data-elem='manage-accounts' class='menu-elem active'>
                    Manage Accounts
                </div>
        {{else}}
            <div data-elem='manage-accounts' class='menu-elem'>
                Manage Accounts
            </div>
        {{/if}}
    {{/ifCond }}
    <div id='sign-out-button'>
        Sign Out
    </div>
</nav>