{{> headerPartial}}
<div class='dashboard-page'>
    {{> navPartial role=role account=true}}
    
    <div class="page-content">
        <div class="account-name">
            {{fullname}}
        </div>
        <div class="account-details">
            
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
{{> footerPartial}}