{{> headerPartial}}
<div class='dashboard-page'>
    {{> navPartial role=role courses=true}}
    
    
    <div class='page-content'>
        {{#ifCond role '<' 3}}
            <div class='new-course-box'>
                <form action='/' method='post' id='new-course-form'>
                    <div class='form-row'>
                        <label class='black-label'>
                            Course Name
                        </label>
                        <input type='text' name='coursename' id='course-name-input' placeholder='Course Name'>
                    </div>
                    <div class='form-row'>
                        <input class='tabula-button' type='submit' value='New Course' id='submit-button'>
                    </div>
                </form>
            </div>
        {{/ifCond}}
        <div class='dashboard-box'>
            <div class='dashboard-box-header'>
                <div class='dashboard-box-title'>
                    Courses                   
                </div>
                {{#ifCond role '<' 3}}
                    <div class='new-course-button'>
                        New Course
                    </div>
                {{/ifCond}}
                <div class='cfix'></div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
{{> footerPartial}}