{{> headerPartial}}
<div class='dashboard-page'>
    {{> navPartial role=role dashboard=true}}
    
    
    <div class='page-content'>
        <div class='dashboard-box'>
            
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
{{> footerPartial}}