{{> headerPartial}}
    <div id="particles"></div>
    <div class='login-page'>
        <div class='logo-wrapper'>
            <img src='../public/images/logo.png' alt='logo'>
        </div>
        <div class='form-wrapper'>
            <form action='/' method='post' id='login-form'>
                <div class='form-row'>
                    <label>
                        E-Mail:
                    </label>
                    <br>
                    <input type='email' name='email' id='email-input' placeholder='E-Mail'>
                </div>
                <div class='form-row'>
                    <label>
                        Password:
                    </label>
                    <br>
                    <input type='password' name='password' id='password-input' placeholder='Password'>
                </div>
                <div class='form-row'>
                    <input class='tabula-button white-button' type='submit' value='Log In' id='submit-button'>
                </div>
            </form>
        </div>
    </div>
{{> footerPartial}}