{{> headerPartial}}
<div class='dashboard-page'>
    {{> navPartial role=role manageAccounts=true}}
    
    
    <div class='page-content'>
        <div class='dashboard-box'>
            <form action='/' method='post' id='account-create-form' autocomplete='off'>
                <div class='two-column-row'>
                    <div class='form-elem'>
                        <label>
                            E-Mail:
                        </label>
                        <input type='email' name='email' id='account-create-email-input'>
                    </div>
                    <div class='form-elem'>
                        <label>
                            Password:
                        </label>
                        <input type='password' name='password' id='account-create-password-input'>
                    </div>
                    <div style='clear: both;'></div>
                </div>
                <div class='three-column-row'>
                    <div class='form-elem'>
                        <label for='account-create-firstname-input'>
                            First Name:
                        </label>
                        <input type='text' name='firstname' id='account-create-firstname-input'>
                    </div>
                    <div class='form-elem'>
                        <label>
                            Middle Name:
                        </label>
                        <input type='text' name='middlename' id='account-create-middlename-input'>
                    </div>
                    <div class='form-elem'>
                        <label>
                            Last Name:
                        </label>
                        <input type='text' name='lastname' id='account-create-lastname-input'>
                    </div>
                    <div style='clear: both;'></div>
                </div>
                <div class='one-column-row'>
                    <div class='form-elem'>
                        <label>
                            Account Role:
                        </label>
                        {{> accountRoleSelectPartial}}
                    </div>
                    <input class='tabula-button white-button' type='submit' value='Create Account'>
                </div>
            </form>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
{{> footerPartial}}