body {
  margin: 0px;
  background-color: #17252a;
  font-family: 'Roboto Condensed', sans-serif; }

body input::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif; }

body input:-ms-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif; }

body input:-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif; }

body input::-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif; }

.cfix {
  clear: both; }

.tabula-button {
  border: 1px solid;
  width: 25%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 0px;
  transition: all 0.3s; }

.white-button {
  background-color: #feffff;
  color: #17252a; }

.white-button:hover {
  background-color: #17252a;
  color: #feffff; }

label {
  margin-bottom: 5px;
  display: block; }

.white-label {
  color: #feffff; }

.black-label {
  color: #17252a; }

input, select, textarea, button {
  font-family: inherit; }

input {
  background-color: #def2f1;
  color: #17252a;
  height: 40px;
  width: calc(100% - 10px);
  padding-left: 10px;
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 4px; }

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #17252a;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/*
    LOGIN PAGE
*/
.login-page {
  position: relative;
  padding-top: 50px; }
  .login-page .logo-wrapper {
    text-align: center; }
    .login-page .logo-wrapper img {
      width: 200px; }
  .login-page .form-wrapper {
    margin-top: 40px; }
    .login-page .form-wrapper form .form-row {
      width: 100%; }
    .login-page .form-wrapper form#login-form {
      width: 300px;
      margin: auto; }

/*
    Dashboard
*/
.dashboard-page {
  /* Account */
  /* Manage Accounts*/
  /*Courses*/ }
  .dashboard-page nav {
    float: left;
    width: 150px;
    background-color: #2b7a78;
    height: 100vh;
    position: fixed; }
    .dashboard-page nav .logo-container {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px; }
      .dashboard-page nav .logo-container img {
        width: 50%; }
    .dashboard-page nav .menu-elem {
      text-align: center;
      height: 50px;
      line-height: 50px;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s;
      color: #feffff; }
      .dashboard-page nav .menu-elem.active {
        background-color: #17252a; }
      .dashboard-page nav .menu-elem:hover {
        background-color: #17252a; }
    .dashboard-page nav #sign-out-button {
      border: 1px solid;
      padding: 10px;
      cursor: pointer;
      width: 60px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;
      text-align: center;
      border-radius: 4px;
      color: #feffff; }
      .dashboard-page nav #sign-out-button:hover {
        background-color: #17252a; }
  .dashboard-page .page-content {
    float: right;
    width: calc(100% - 150px - 40px);
    min-height: calc(100vh - 40px);
    position: relative;
    padding: 20px;
    color: #feffff; }
    .dashboard-page .page-content .dashboard-box {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 4px;
      min-height: 80%; }
      .dashboard-page .page-content .dashboard-box .dashboard-box-header {
        border-bottom: 1px solid #feffff;
        position: relative; }
        .dashboard-page .page-content .dashboard-box .dashboard-box-header .dashboard-box-title {
          text-transform: uppercase;
          color: #feffff;
          float: left;
          font-size: 3vw; }
  .dashboard-page .account-name {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid; }
  .dashboard-page #account-create-form .two-column-row .form-elem {
    float: left;
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
    .dashboard-page #account-create-form .two-column-row .form-elem input {
      width: calc(100% - 10px);
      height: 40px;
      font-size: 20px;
      padding-left: 10px;
      border: 1px solid;
      border-radius: 4px;
      background-color: #efe9e9; }
  .dashboard-page #account-create-form .three-column-row {
    margin-bottom: 10px;
    margin-top: 10px; }
    .dashboard-page #account-create-form .three-column-row .form-elem {
      float: left;
      width: calc(100% / 3 - 20px);
      margin-left: 10px;
      margin-right: 10px; }
  .dashboard-page #account-create-form .one-column-row .form-elem {
    float: left;
    width: calc(100% / 3 - 20px);
    margin-left: 10px;
    margin-right: 10px; }
    .dashboard-page #account-create-form .one-column-row .form-elem select {
      width: 100%;
      height: 40px;
      font-size: 20px;
      padding-left: 6px;
      border: 1px solid;
      border-radius: 4px;
      background-color: #efe9e9; }
  .dashboard-page #account-create-form .one-column-row input {
    height: 40px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    right: 30px; }
  .dashboard-page .new-course-button {
    color: #feffff;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%); }
    .dashboard-page .new-course-button:hover {
      color: #def2f1;
      transform: translateY(-50%) scale(1.1); }
  .dashboard-page .new-course-box {
    background-color: #feffff;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1; }
