$darkblue: #17252a;
$blue: #2b7a78;
$lightblue: #3aafa9;
$lightgrey: #def2f1;
$white: #feffff;

body {
    margin: 0px;
    background-color: $darkblue;
    font-family: 'Roboto Condensed', sans-serif;
}

body input::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}

body input:-ms-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}

body input:-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}

body input::-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}

.cfix {
    clear: both;
}

.tabula-button {
    border: 1px solid;
    width: 25%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 0px;
    transition: all 0.3s;
}

.white-button {
    background-color: $white;
    color: $darkblue;
}

.white-button:hover {
    background-color: $darkblue;
    color: $white;
}

label {
    margin-bottom: 5px;
    display: block;
}

.white-label {
    color: $white;
}

.black-label {
    color: $darkblue;
}

input, select, textarea, button {
    font-family:inherit;
}

input {
    background-color: $lightgrey;
    color: $darkblue;
    height: 40px;
    width: calc(100% - 10px);
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 4px;
}

#particles{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darkblue;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*
    LOGIN PAGE
*/

.login-page {
    position: relative;
    padding-top: 50px;

    .logo-wrapper {
        text-align: center;

        img {
            width: 200px;
        }
    }

    .form-wrapper {
        margin-top: 40px;

        form {
            .form-row {
                width: 100%;
            }

            &#login-form {
                width: 300px;
                margin: auto;
            }
        }
    }
}

/*
    Dashboard
*/

.dashboard-page {
    nav {
        float: left;
        width: 150px;
        background-color: #2b7a78;
        height: 100vh;
        position: fixed;
    
        .logo-container {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
    
            img {
                width: 50%;
            }
        }
    
        .menu-elem {
            text-align: center;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s;
            color: #feffff;
    
            &.active {
                background-color: #17252a;
            }
    
            &:hover {
                background-color: #17252a;
            }
        }
    
        #sign-out-button {
            border: 1px solid;
            padding: 10px;
            cursor: pointer;
            width: 60px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s;
            text-align: center;
            border-radius: 4px;
            color: #feffff;
    
            &:hover {
                background-color: #17252a;
            }
        }
    }

    .page-content {
        float: right;
        width: calc(100% - 150px - 40px);
        min-height: calc(100vh - 40px);
        position: relative;
        padding: 20px;
        color: #feffff;

        .dashboard-box {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border-radius: 4px;
            min-height: 80%;

            .dashboard-box-header {
                border-bottom: 1px solid #feffff;
                position: relative;

                .dashboard-box-title {
                    text-transform: uppercase;
                    color: #feffff;
                    float: left;
                    font-size: 3vw;
                }
            }
        }
    }

    /* Account */

    .account-name {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 2px solid;
    }

    /* Manage Accounts*/

    #account-create-form {
        .two-column-row {
            .form-elem {
                float: left;
                width: calc(50% - 20px);
                margin-left: 10px;
                margin-right: 10px;

                input {
                    width: calc(100% - 10px);
                    height: 40px;
                    font-size: 20px;
                    padding-left: 10px;
                    border: 1px solid;
                    border-radius: 4px;
                    background-color: #efe9e9;
                }
            }
        }

        .three-column-row {
            margin-bottom: 10px;
            margin-top: 10px;

            .form-elem {
                float: left;
                width: calc(100% / 3 - 20px);
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .one-column-row {
            .form-elem {
                float: left;
                width: calc(100% / 3 - 20px);
                margin-left: 10px;
                margin-right: 10px;

                select {
                    width: 100%;
                    height: 40px;
                    font-size: 20px;
                    padding-left: 6px;
                    border: 1px solid;
                    border-radius: 4px;
                    background-color: #efe9e9;
                }
            }

            input {
                height: 40px;
                font-size: 20px;
                border: 1px solid;
                border-radius: 4px;
                position: absolute;
                bottom: 20px;
                right: 30px;
            }
        }
    }

    /*Courses*/

    .new-course-button {
        color: #feffff;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            color: #def2f1;
            transform: translateY(-50%) scale(1.1);
        }
    }

    .new-course-box {
        background-color: #feffff;
        padding: 20px;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1;

        input {
    
        }
    }
}